{% extends "public/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
    <form method="post" action="{% url "login" %}">
        {% csrf_token %}
        {{ form|crispy }}

        <input type="submit" value="{% trans 'Log in' %}" />
        <input type="hidden" name="next" value="{{ next }}" />
    </form>

    <p>{% trans "Forgot password" %}? <a href="{% url 'password_reset' %}">{% trans "Reset it" %}</a>!</p>
    <p>{% trans "Not member" %}? <a href="{% url 'registration_register' %}">{% trans "Register" %}</a>!</p>
{% endblock %}