.footer {
  padding: 30px 10px 10px 10px;
  background-color: #0a6a84;
  color: #ffffff;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  a {
    color: #ffffff;
    text-decoration: none;
    padding-left: 15px;
    font-weight: bold;
  }
  select {
    margin-left: 25px;
    margin-right: 30px;
    width: auto;
    background-color: #0a6a84;
    color: #ffffff;
    font-size: 16px;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-weight: bold;
  }
}
