@import '../../styles/color.scss';
@import '../../styles/variables.scss';

.searchbar {
  background-color: lighten($color: gray, $amount: 45);
  padding: 20px;
}

.searchbar__title {
  text-align: center;
}

.searchbar__inputgroup {
  border-radius: 20px;
}

.searchbar__input-icon {
  border-color: color(green, lighter);
  background-color: color(green, lightest);
  border-right: none;
}

.searchbar__input {
  border-color: color(green, lighter);
  border-left: none;
  background-color: color(green, lightest);
  outline: none;
}

.searchbar__filter-buttons {
  margin-top: 10px;
  & > button {
    margin-right: 10px;
    border-radius: 20px;
    border-color: color(green, lighter);
    background-color: color(green, lightest);
    color: color(dark, base);
  }
}
