@import '../../styles/color.scss';
@import '../../styles/variables.scss';
@import '../../styles/common.scss';

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
  .navbar-leftpart {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  .navbar-logo {
    padding: 20px;
    margin-left: 20px;
    margin-right: 15px;
  }

  .navbar-hotline {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    background-color: #fff4c3;
    color: #2f2f2f;
    height: auto;
  }
  .btn-hotline {
    padding: 0px;
    color: #2f2f2f;
    border: 0;
    font-size: 16px;
    top: auto;
    height: auto;
    margin-right: 10px;
  }
  .hotline-tel {
    text-decoration: none;
    color: #2f2f2f;
    line-height: 40px;
  }
  .tel {
    font-weight: bold;
  }
  .navbar-hotline svg {
    margin: 0 10px 0 10px;
  }

  .navbar-buttons {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 25px;
  }

  .btn {
    padding: 10px 30px;
    color: #2f2f2f;
    border: 0;
    font-size: 16px;
    top: auto;
    height: 40px;
    margin-right: 10px;
    font-weight: bold;
  }

  .btn:hover {
    cursor: pointer;
  }

  .btn-login {
    background-color: transparent;
    border-radius: 5px;
  }
  .btn-helper {
    background-color: color(yellow, base);
    border-radius: 5px;
  }
  .btn-login:hover {
    border: 2px solid color(yellow, base);
  }

  .btn-helper:hover {
    background-color: transparent;
    border: 2px solid color(yellow, base);
  }
}
