.landingpage__header {
  background-color: #cee1e6;
  font-size: 20px;
  padding-left: 12%;
  padding-right: 12%;
  padding-top: 30px;
  padding-bottom: 30px;
}

.section-one {
  padding-top: 50px;
  padding-bottom: 30px;
  margin-left: 12%;
  margin-right: 12%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  .intro-notes {
    line-height: 30px;
    width: 60%;
  }
  .intro-notes a {
    color: black;
    font-weight: bold;
  }
  .boxes {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: left;
  }
  .box {
    padding: 20px;
    border-radius: 10px;
    width: 60%;
    margin-bottom: 30px;
  }
  .hotline-box {
    margin-top: 50px;
    background-color: #e6f0f2;
  }
  .hotline-box .hotline-in-box {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .hotline-box div img {
    padding-right: 10px;
  }
  .hotline-box div p {
    font-size: 28px;
  }
  .help-box {
    background-color: #fff4c3;
  }
  .btn-help {
    background-color: #ffe56b;
    border-radius: 5px;
    margin: 10px;
    float: right;
  }
}

.section-two {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-left: 14%;
  margin-right: 12%;
  text-align: center;

  .info-infographic {
    margin-top: 30px;
    float: right;
    width: 50%;
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: nowrap;
  }
}

.section-three {
	clear: both;
	padding-top: 70px;
	padding-bottom:  30px;
	margin-left:14%;
	margin-right: 12%;
    text-align: left;
    h1{
        font-size: 44px;
        font-weight: bold;
        width: 90%;
    }
    p{
        margin-left: 20%;
        margin-right: 20%;
    
    }
}
