@import '../../styles/color.scss';
@import '../../styles/variables.scss';

.common-link {
  color: color(dark, base);
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  line-height: $line-height-header;
}
